<html>
    <head>
        <meta charset = "UTF-8">
        <title> 환영합니다.</title>
    </head>
    <body>
        <!-- 단일 data를 넣어올 때 -->
        <!-- <h1> {{name}}님 환영합니다.</h1> -->

        <!-- dict에 multi데이터를 넣어올 때 -->
        <!-- <h1> {{data.name}}님 환영합니다.</h1>
        <h1> {{data.age}}세 이시군요.</h1> -->

        <!-- 사용자가 get요청으로 넘긴 data를 받아올 때 -->
        <!-- 파이썬 템플릿엔진과 html 주석간의 선후문제가 발생할 경우
        {# #} 를 통해 파이썬의 템플리엔진 문법을 감싼다. -->
        <!-- <h1> {#{{}} #}님 반갑습니다.</h1> -->

        <!-- 사용자가 get요청으로 넘긴 data를 화면에 dict 형태로 던져주고
            화면에는 이름은 - 이메일은 - 비밀번호는 - 로 띄워줄 때 -->
        <!-- <h1> 이름: {{data.name}}</h1>
        <h1> 이메일: {{data.email}}</h1>
        <h1> 비밀번호: {{data.password}}</h1> -->
        <!-- google chrome url에 http://localhost:8000/silsup_data?name=hong&email=hong@naver.com&password=1234 라고 입력 -->

    </body>
</html>